div{
    margin-bottom: 50px;
}

h2{
    font-weight: bold;
  font-size: 20px;
  color: white;
  background: lightskyblue;
  padding: 3px;
  margin-bottom: 10px;
}

p{
    text-align: justify;
    font-size: 18px;
    padding: 10px;
}

img{
    width: 100px;
    object-fit: cover;
}

.wrapper{
    display: flex;
    gap: 20px;
}




