body{
    font-size: 18px;
}

.courses-components{
    margin-bottom: 70px;
    border-bottom: 1px solid lightsteelblue;
}

h2{
    font-weight: bold;
    font-size: 20px;
    color: white;
    background: lightskyblue;
    padding: 3px;
    margin-bottom: 3px;
}

ul{
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 10px;
}

li{
    padding: 10px;
}

p{
    background-color: lightsteelblue;
}