ul{
    border-bottom: 1px solid lightsteelblue ;
}

li{
    border: 1px solid lightsteelblue;
}


.home-page__title,

.users-page__title,
.users-jsonplaceholder__title,
.user-dummyjson__title,

.posts-page__title,
.posts-jsonplaceholder__title,
.post-dummyjson__title,

.comments-page__title,
.comments-jsonplaceholder__title,
.comments-dummyjson__title
{
    font-size: 20px;
    background-color: lightsteelblue;
}

.user-jsonplaceholder__list,
.user-dummyjson__list,

.post-jsonplaceholder__list,
.post-dummyjson__list,

.comment-jsonplaceholder__list,
.comment-dummyjson__list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-jsonplaceholder__item,
.user-dummyjson__item,

.post-jsonplaceholder__item,
.post-dummyjson__item,

.comment-jsonplaceholder__item,
.comment-dummyjson__item{
    border: none;
    border-radius: 0;
}

.user-dummyjson__link span,
.user-jsonplaceholder__link span,

.comment-dummyjson__link span,
.comment-jsonplaceholder__link span{
    color: blue;
}

.user-dummyjson__item .user-dummyjson__list,
.user-jsonplaceholder__item .user-jsonplaceholder__list,

.post-dummyjson__item .post-dummyjson__list,

.comment-dummyjson__item .comment-dummyjson__list {
    border: 1px solid lightsteelblue;
    border-radius: 20px;
    margin-bottom:0;
    margin-top: 10px;
}

.user-dummyjson__img{
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
}

