#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

body {
    font-size: 18px;
}

ul{
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

li {
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid lightskyblue;
    transition: all 0.1s;
    cursor: pointer;
}

li:hover{
    background-color: lightskyblue;
    color: white;
    transition: all 0.1s;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

label {
    display: block;
}

input{
    width: 400px;
    padding: 5px 10px;
    border: 1px solid gray;
}

button{
    border: 1px solid lightskyblue;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.1s;
}

button:hover{
    background-color: lightskyblue;
    color: white;
    transition: all 0.1s;
}

.form-container {
    padding: 20px;
}

.cars-component{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
}

.car{
    min-width: 200px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightskyblue;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}