#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  font-size: 18px;
}

.page__title{
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

.menu__list{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
}

.menu__item{
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid lightskyblue;
    transition: all 0.3s;
}

.menu__item:hover{
    background-color: lightskyblue;
    color: white;
    transition: all 0.3s;
}

.products__container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


































