@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
}

body{
  font-size: 20px;
  color: black;
  padding: 20px;
}

.posts,
.todos,
.comments{
  margin-bottom: 100px;
}

.post__title,
.todo__title,
.comment__title{
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  background-color: dodgerblue;
  color: white;
  padding: 5px;
}