@import "tailwindcss";

#root {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid lightsteelblue;
  border-radius: 30px;
}
body {
  font-size: 20px;
}

h1{
  font-size: 25px;
  text-align: center;
}

button{
  background-color: lightsteelblue;
  border: 1px solid lightsteelblue;
  padding: 10px 60px;
  border-radius: 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: transparent;
  border: 1px solid lightsteelblue;
  transition: background-color 0.3s;
}

.pagination{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.user-info{
  padding-left: 30px;
}