@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

li{
  font-size: 20px;
  color: white;
  background: lightskyblue;
  padding: 3px;
  margin-bottom: 10px;
}