@import "tailwindcss";
#root {
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}
body{
    font-family: SF Pro Display, sans-serif;
}
svg{
    width: 100%;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;


}
.logo__wrap{
    padding-top: 82px;
    margin: 0 513px 0 auto;
}
.info__wrap{
    width: 607px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;


}
.info__title{
    font-weight: 400;
    font-size: 68px;
    line-height: 100%;
}
.info__text{
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
}
.btn-wrap{
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;

}

button{
    text-align: start;
    cursor: pointer;

}
.btn{
    font-family: SF Pro Display, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    padding: 16px 24px;
    color: #FFFFFF;
    width: 130px;
    cursor: pointer;
}
.btn-primary{
    background: #191919;
    border: 1px solid #191919;
}
.btn-secondary{
    border: 1px solid #191919;
    color: #191919;
    padding: 16px 32px;
}
.social{
    display: flex;
    gap: 8px;
}
.social__link{
    cursor: pointer;
}
.choice__wrap{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: auto;
    width: 607px;
    margin-bottom: 112px;
    margin-top: 119px;
}
.choice__text{
    font-weight: 400;
    font-size: 46px;
    line-height: 100%;
    color: #B0B0B0;
}
.active{
    color: #303030;
}

/*===========================КРАН=============================*/
.wrapper{
    width: 710px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 10;
    position: absolute;
    overflow: hidden;
}



.tap__wrap{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.vector__wrap{
    width: 100%;
    position: absolute;
    top: 189px;
    left: -1px;
}
.hotels__wrap{
    width: 100%;
    position: absolute;
    bottom: 46px;
    left: 32px;
}
.hotels__wrap img{
    transform: scaleX(-1);
}
.commertial__wrap{
    position: absolute;
    bottom: 291px;
    left: 30px;
}
.commertial__wrap img{
    width: 100%;
    height: auto;
    object-fit: cover;
}



/*=====Animation=====*/
/*.tap__wrap,*/
/*.vector__wrap,*/
/*.commertial__wrap {*/
/*    animation: lift-up 5s forwards;*/
/*}*/

/*.commertial__wrap ,.hotels__wrap {*/
/*    animation: lift-down 5s forwards;*/
/*}*/


/*@keyframes lift-up {*/
/*    0% {*/
/*        transform: translateY(-700px);*/

/*    }*/
/*    50% {*/
/*        transform: translateY(0);*/

/*    }*/
/*    100% {*/
/*        transform: translateY(-700px);*/

/*    }*/
/*}*/

/*@keyframes lift-down {*/
/*    0% {*/
/*        transform: translateY(-700px);*/

/*    }*/
/*    50% {*/
/*        transform: translateY(0);*/
/*    }*/
/*    100% {*/
/*        transform: translateY(0);*/
/*    }*/
/*}*/





/*.lift-up {*/
/*    animation: liftUp 0.8s forwards ease-in-out;*/
/*}*/

/*@keyframes liftUp {*/
/*    0% { transform: translateY(0); }*/
/*    100% { transform: translateY(-700px); }*/
/*}*/
/*.lift-down {*/
/*    animation: liftDown 0.8s forwards ease-in-out;*/
/*}*/

/*@keyframes liftDown {*/
/*    0% { transform: translateY(-700px); }*/
/*    100% { transform: translateY(0); }*/
/*}*/
/*----------------------MEDIA----------------------*/
@media screen and (max-width: 1350px) {
    .info__wrap{
        width: 500px;
        margin-right: 16px;
    }
    .info__title{
        font-size: 48px;
    }
    .info__text{
        font-size: 20px;
        width: 250px;
    }
    .choice__wrap{
        margin-right: 16px;
        width: 500px;
    }


    .logo__wrap {
        padding-top: 82px;
        margin: 0 422px 0 auto;
    }

    .wrapper{
        width: 50%;
    }

   .commertial__wrap img{
        /*width: 95%;*/
        height: auto;
        object-fit: cover;
    }
}
@media screen and (max-width: 1080px) {
    .logo__wrap {
        margin: 0 374px 0 auto;
    }
    .info__wrap, .choice__wrap {
        width: 451px;
    }
}
@media screen and (max-width: 1024px) {
    .tap__wrap {
        top: 0;
        left: 0;
    }

    .vector__wrap {
        top: 168px;
    }

    .commertial__wrap {
        left: 0;
    }


}





/*@media screen and (max-width: 912px) {*/
/*    .vector__wrap {*/
/*        top: 127px;*/
/*        left: 183px;*/
/*    }*/
/*    .hotels__wrap {*/
/*        bottom: 314px;*/
/*        left: 178px;*/
/*    }*/
/*    .hotels__wrap img {*/
/*        width: 76%;*/
/*    }*/
/*}*/
/*@media screen and (max-width: 820px) {*/
/*    .vector__wrap {*/
/*        top: 121px;*/
/*        left: 169px;*/
/*    }*/
/*    .hotels__wrap {*/
/*        bottom: 355px;*/
/*        left: 168px;*/
/*    }*/
/*}*/

@media screen and (max-width: 768px) {
    .info__wrap, .choice__wrap {
        width: 350px;
    }
    .logo__wrap {
        margin: 0 274px 0 auto;
    }
    .vector__wrap {
        top: 117px;
        left: 160px;
    }
    .hotels__wrap {
        bottom: 325px;
        left: 137px;
    }

    .hotels__wrap img {
        width: 90%;
    }

    .info__title{
        font-size: 40px;
    }

    .info__text{
        font-size: 20px;
    }

    .choice__text{
        font-size: 30px;
    }


}


@media screen and (max-width: 500px) {
    .content{
        width: 100%;
        overflow: hidden;

    }

    .logo__wrap{
       display: none;
    }

    .info__wrap{
        order: 1;
        width: 100%;
        padding: 0 16px;
        margin-top: 315px;

    }

    .info__title{
        font-size: 48px;
    }

    .info__text{
        font-size: 20px;
        width: 250px;
    }

    .btn-wrap{
        margin: 0;
    }

    .btn{
        font-size: 14px;
        padding: 16px 29px;
    }

    .btn-primary{
        background: #191919;
        border: 1px solid #191919;
    }

    .btn-secondary{
        border: 1px solid #191919;
        color: #191919;
        padding: 16px 32px;
    }

    .choice__wrap{
        width: 224px;
        margin: 121px auto auto 16px;
        z-index: 5;
    }

    .choice__text{
        width: 224px;
        font-size: 20px;
    }


    .wrapper{
        background-image: none;
        width: 100%;
    }

    .tap__wrap{
        top: -80px;
        left: 46%;
    }
    .tap__wrap svg{
        width: 71px;
    }




    .vector__wrap{
        background-image: url('public/vector-hotels-mobile.svg');
        background-repeat: no-repeat;
        top: 19%;
        left: 7%;
    }
    .vector__wrap svg{
        opacity: 0;
    }


    .hotels__wrap{
        bottom: 352px;
        left: 0;
    }
    .hotels__wrap img{
        width: 418px;
        height: 201px;
    }

    .commertial__wrap{
        left: -388px;
        bottom: 0;
        top: 36.6%;
    }
    .commertial__wrap img{
        width: 783px;
        object-fit: cover;
    }
}
@media screen and (max-width: 425px) {
    .tap__wrap {
        top: -80px;
        left: 43%;
    }
}
/*@media screen and (max-width: 320px) {*/
/*    .tap__wrap {*/
/*        top: -80px;*/
/*        left: 52%;*/
/*    }*/
/*}*/