.product{
    border: 1px solid #f2f4f7;
    border-radius: 30px;
    margin-bottom: 200px;
    padding: 50px;
}

.product__title{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.product__text{
    text-align: center;
    max-width: 700px;
    margin: 0 auto 30px;
}

.product__list-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 50px;
}

.product__list{
    width: 49%;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #f2f4f7;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product__review{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
    margin: 20px 20px 50px;
}

.product__review-item{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #f2f4f7;
}

.product__date{
    border: 1px solid #f2f4f7;
    border-radius: 20px;
    padding: 20px;
}

.product__date-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product__img{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 50px;
}

