body{
    padding: 10px;
    max-width: 1500px;
    margin: 0 auto;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid lightskyblue;
}

li{
    border: 1px solid lightskyblue;
    border-radius: 10px;
    padding: 5px 15px;
}

h2{
    text-align: center;
    font-size: 20px;
}